
/* Styles for the scholarship section */
.scholarship {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  /* Styles for the heading section within the scholarship */
  .heading-scholarship {
    margin-bottom: 20px;
  }
  
  .sch-top-heading {
    padding: 20px;
  }
  
  .main-scholarship-heading {
    font-size: 24px;
    font-weight: bold;
  }
  
  .sch-bottam-description {
    margin-top: 20px;
    font-size: 18px;
  }
  
  /* Styles for the checkout button */
  .checkout-button {
    background-color: #8e44ad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .checkout-button:hover {
    background-color: #6c3483;
  }
  
  /* Styles for the scholarship banner */
  .scholarship-banner img {
    max-width: 100%;
    height: auto;
  }
  
  /* Styles for the poor-girl section */
  .poor-girl {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Styles for the scholarship form */
  .scholarship-form {
    margin-top: 20px;
  }
  
  .sch-form-desc {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Styles for form elements */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style the submit button */
  /* button[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #27ae60;
  } */
  
 